{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--User List-->
<div class="row">
    <div class="col-8">
        <!--Search-->
        <form class="d-flex input-group w-auto"
              action="{% url 'user:user_list' %}">
            <input
                    type="search"
                    name="search"
                    class="form-control rounded"
                    id="search"
                    placeholder="Search for Name, Username, Email of User"
            />
            <button type="submit" class="btn btn-secondary">
                <i class="fa fa-search fa-lg"></i> Search
            </button>
        </form>
    </div>
    <div class="col-4">
        <!--Filter-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            Filter<i class="fa fa-filter fa-lg"></i>
        </button>
        <button type="reset" class="btn btn-tertiary border-secondary"
                onclick="location.href='{% url 'user:user_list' %}'">Clear all
        </button>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" style="width: 250px"
             id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Advanced Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" align="left">
                <form method="GET">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Apply Filter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% if users %}
<div class="col-12 table-responsive">
    <table class="table table-sm table-bordered border-dark" id="datatable" cellspacing="0" width="100%">
        <thead class="table-secondary table-bordered border-dark" align="center">
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">First Name</th>
            <th style="text-align: center">Second Name</th>
            <th style="text-align: center">Username</th>
            <th style="text-align: center">Email</th>
            <th style="text-align: center">Gender</th>
            <th style="text-align: center">Birth Date</th>
            <th style="text-align: center">Contact Number</th>
            <th class="actions" style="text-align: center">User Profile</th>
        </tr>
        </thead>
        <tfoot class="table-secondary table-bordered border-dark" align="center" style="display: table-header-group">
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">First Name</th>
            <th style="text-align: center">Second Name</th>
            <th style="text-align: center">Username</th>
            <th style="text-align: center">Email</th>
            <th style="text-align: center">Gender</th>
            <th style="text-align: center">Birth Date</th>
            <th style="text-align: center">Contact Number</th>
            <th class="actions" style="text-align: center">User Profile</th>
        </tr>
        </tfoot>
        <tbody align="center" class="bg-light">
        {% for user in users %}
        <tr>
            <td>
                <p class="fw-bold mb-1">{{ user.id }}</p>
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <img src="{{ user.image.url }}" alt="Profile Image"
                         style="width: 45px; height: 45px" class="rounded-circle"/>
                    <div class="ms-3">
                        <p class="fw-normal mb-1">{{ user.first_name }}</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ user.last_name }}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ user.username }}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ user.email }}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ user.gender }}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ user.birth_date }}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{ user.phone_number }}</p>
            </td>
            <td>
                <a class="btn btn-outline-primary" href="{% url 'user:profile' user.id %}">
                    View Profile
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="card mb-5">
    <div class="card-body p-4">
        <div style="margin: auto">
            <p class="mb-0 me-5">
                <span>
                    <strong style="color: rgba(11, 122, 114, 1);font-size: 20px;font-weight: bold;margin: auto">
                        No results found.
                    </strong>
                </span>
            </p>
        </div>
    </div>
</div>
{% endif %}
<!--End User List-->

<link type="text/css" rel="stylesheet" href="{% static 'css/datatable.css' %}"/>
<script src="{% static 'js/user/user.js' %}"></script>
{% endblock content %}
