{% extends 'base.html' %}
{% load static %}
{% block content %}

<script>
function getResponseForFoodCreate(){
    getToasterMessage("success", "Food Created Successfully");
    setTimeout(function() {
    $("#createFood").submit();
    }, 1500);
}

function getResponseForFoodDelete(){
    getToasterMessage("success", "Food Deleted Successfully");
    setTimeout(function() {
    $("#deleteFood").submit();
    }, 1500);
}




</script>

<!--Food List-->
<div class="row">
    {% if user.is_superuser or user.is_staff %}
    <div class="col-6">
        <!--Search-->
        <form class="d-flex input-group w-auto"
              action="{% url 'foodmania:food_list' %}">
            <input
                    type="search"
                    name="search"
                    class="form-control rounded"
                    id="search"
                    placeholder="Search for Pizza, Sandwich, Starter..."
            />
            <button type="submit" class="btn btn-secondary">
                <i class="fa fa-search fa-lg"></i> Search
            </button>
        </form>
    </div>
    <div class="col-6" align="center">
        <!--Filter-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            Filter<i class="fa fa-filter fa-lg"></i>
        </button>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Sort By <i class="fa fa-sort fa-lg"></i>
        </button>
        <button type="reset" class="btn btn-tertiary"
                onclick="location.href='{% url 'foodmania:food_list' %}'">Clear all
        </button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="fa fa-plus fa-lg"></i> Add Food
        </button>
        <div class="dropdown">
            <form action="{% url 'foodmania:food_list' %}" method="GET" onchange="this.form.submit()">
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" name="popularity">Popularity</button>
                    </li>
                    <li>
                        <button class="dropdown-item" name="price_low_to_high">Price low to high</button>
                    </li>
                    <li>
                        <button class="dropdown-item" name="price_high_to_low">Price high to low</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    {% else %}
    <div class="col-8">
        <!--Search-->
        <form class="d-flex input-group w-auto"
              action="{% url 'foodmania:food_list' %}">
            <input
                    type="search"
                    name="search"
                    class="form-control rounded"
                    placeholder="Search for Pizza, Sandwich, Starter..."
            />
            <button type="submit" class="btn btn-secondary">
                <i class="fa fa-search fa-lg"></i> Search
            </button>
        </form>
    </div>
    <div class="col-4" align="center">
        <!--Filter-->
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            Filter<i class="fa fa-filter fa-lg"></i>
        </button>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Sort By <i class="fa fa-sort fa-lg"></i>
        </button>
        <button type="reset" class="btn btn-tertiary"
                onclick="location.href='{% url 'foodmania:food_list' %}'">Clear all
        </button>
        <div class="dropdown">
            <form action="{% url 'foodmania:food_list' %}" method="GET" onchange="this.form.submit()">
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" name="popularity">Popularity</button>
                    </li>
                    <li>
                        <button class="dropdown-item" name="price_low_to_high">Price low to high</button>
                    </li>
                    <li>
                        <button class="dropdown-item" name="price_high_to_low">Price high to low</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" style="width: 250px;"
         id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Advanced Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" align="left">
            <form method="GET">
                {{ filter.form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Apply Filter</button>
            </form>
        </div>
    </div>
</div>
<br>
{% if items %}
<div class="card">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100" style="background: rgba(223, 236, 248, 1)">
                <img src="{{ item.image.url }}" class="card-img-top" alt="Food Image"
                     style="max-width:100%;min-width:100%;width:450px;height:150px;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">{{ item.description|truncatechars:35 }}</p>
                    <b class="card-text">₹ {{ item.price }}</b>
                </div>
                <div class="card-footer">
                    {% if user.is_superuser or user.is_staff %}
                    <div class="d-flex">
                        <a class="btn btn-outline-primary w-100"
                           href="{% url 'foodmania:food_update' item.pk %}"><i class="fa fa-edit fa-lg"></i> Edit
                        </a>
                        <button class="btn btn-outline-danger w-100" data-bs-toggle="modal"
                                data-bs-target="#DeleteModal{{ item.id }}"><i class="fa fa-trash-can fa-lg"></i> Delete
                        </button>
                    </div>
                    {% else %}
                    {% if item.status == 'Enabled' %}
                    <form action="{% url 'foodmania_website:add_to_cart' item.id %}" method="POST"
                          class="add-to-cart-form" id="addToCart">
                        {% csrf_token %}
                        {{ add_to_cart.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Add To Cart</button>
                    </form>
                    {% else %}
                    <strong>This item is out of stock.</strong>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Food Delete Modal -->
        <div class="modal fade" id="DeleteModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Delete Food</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'foodmania:food_delete' item.id %}" method="POST"
                              id="deleteFood">
                            {% csrf_token %}
                            Are you sure you want to delete <b>{{ item.name }}</b>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel
                                </button>
                                <button type="button" class="btn btn-primary"
                                        onclick="getResponseForFoodDelete()">Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
</div>
<br>
{% else %}
<div class="card mb-5">
    <div class="card-body p-4">
        <div style="margin: auto">
            <p class="mb-0 me-5">
                <span>
                    <strong style="color: rgba(11, 122, 114, 1);font-size: 20px;font-weight: bold;margin: auto">
                        No results found.
                    </strong>
                </span>
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
<!-- Food Create Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Food</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'foodmania:food_create' %}" enctype="multipart/form-data"
                      method="POST" id="createFood">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for key, error in form.errors.items %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="getResponseForFoodCreate()">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Food List-->

<script src="{% static 'js/cart/add_to_cart.js' %}"></script>
<script src="{% static 'js/toast.js' %}"></script>
<script src="{% static 'js/modal_select2.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/select2.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/cart.css' %}"/>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
