.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: rgba(11, 122, 114, 1);
    border-color: rgba(11, 122, 114, 1);
}

.btn-outline-primary {
    border-color: rgba(11, 122, 114, 1);
    color: rgba(11, 122, 114, 1);
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: rgba(11, 122, 114, 1);
    border-color: rgba(11, 122, 114, 1);
}

.btn-tertiary, .btn-tertiary:hover, .btn-tertiary:focus {
    border-color: rgba(11, 122, 114, 1);
}
