{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--User Address List-->
{% if addresses %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal"><i class="fa fa-plus fa-lg"></i>
        Add Address
    </button>
</div>

{% for address in addresses %}
<div class="card col-7" style="background: rgba(223, 236, 248, 1)">
    <div class="card-body">
        <h5 class="card-title">{{ address.type }}</h5>
        <p class="card-text">{{ address.address }} - {{ address.pincode }}</p>
        <p class="card-text">
            <small class="text-muted">{{ address.city }}, {{ address.state }}</small>
        </p>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <a class="btn btn-outline-primary w-100"
               href="{% url 'user:address_update' address.id %}">Edit address</a>
            <a class="btn btn-outline-danger w-100"
               href="{% url 'user:address_delete' address.id %}"
               data-bs-toggle="modal" data-bs-target="#DeleteModal{{ address.id }}">Delete</a>
        </div>
    </div>
    <!-- User Address Delete Modal -->
    <div class="modal fade" id="DeleteModal{{ address.id }}" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete Address</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'user:address_delete' address.id %}" method="POST">
                        {% csrf_token %}
                        Are you sure you want to delete your address ?
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}
<br>
<br>
<br>
{% else %}
<div class="card mb-5">
    <div class="card-body p-4">
        <div style="margin: auto">
            <p class="mb-0 me-5">
                <span>
                    <strong style="color: rgba(11, 122, 114, 1);font-size: 20px;font-weight: bold;margin: auto">
                        You have not created any address.
                    </strong>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fa fa-plus fa-lg"></i>
                            Add Address
                    </button>
                </span>
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}

<!-- User Address Create Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

                <form action="{% url 'user:address_create' %}" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for key, error in form.errors.items %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                        <button type="submit" id="success" class="btn btn-success">Create</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<br>
<!--End User List-->

<link type="text/css" rel="stylesheet" href="{% static 'css/select2.css' %}"/>
<script type="text/javascript" src="{% static 'js/modal_select2.js' %}"></script>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
