{% extends 'base.html' %}
{% block content %}
<div class="container m-5">
    <div class="row">
        <div class="col-6 position-absolute top-50 start-50 translate-middle">
            <div class="card p-5 text-center shadow-sm">
                <h1 class="page-title mb-4">404
                <br>
                <span class="font-light">Page Not Found</span>
                </h1>
                <div class="mb-4">
                    Sorry, we can't find the page you're looking for.
                </div>
                <a class="btn btn-primary" href="{% url 'foodmania_website:website' %}">Go to home page</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
