
{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<!--Script For Charts-->
<script>
    $(document).ready(function(){
    var user = document.getElementById('userChart').getContext('2d');
    var order = document.getElementById('orderChart').getContext('2d');
    var sales = document.getElementById('salesChart').getContext('2d');

    var chart1 = new Chart(user, {
        type: 'bar',
        data: {
            labels: [{% for data in user_data %} '{{ data.date_joined__month|get_month_name }}', {% endfor %}],
            datasets: [{
                label: 'Users joined',
                data: [{% for data in user_data %} '{{ data.date_joined__month__count }}', {% endfor %}],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(96, 126, 162, 1)',
                borderWidth: 1.5
            },
            {
                label: 'Active users',
                data: [{% for data in active_user_data %} '{{ data.date_joined__month__count }}', {% endfor %}],
                backgroundColor: 'rgba(0, 108, 244, 0.3)',
                borderColor: 'rgba(0, 13, 191, 1)',
                borderWidth: 1.5
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            plugins: {
                title: {
                    display: true,
                    text: 'User Analysis'
                }
            }
        }
    });

    var chart2 = new Chart(order, {
        type: 'line',
        data: {
            labels: [{% for data in order_data %} '{{ data.created__month|get_month_name }}', {% endfor %}],
            datasets: [{
                label: 'Order Placed',
                data: [{% for data in order_data %} {{ data.created__month__count }}, {% endfor %}],
                backgroundColor: 'rgba(255, 145, 204, 0.3)',
                borderColor: 'rgba(255, 0, 255, 1)',
                borderWidth: 1.5,
                pointRadius: 5
            },
            {
                label: 'Order Delivered',
                data: [{% for data in delivered_order_data %} {{ data.created__month__count }}, {% endfor %}],
                backgroundColor: 'rgba(253, 89, 179, 0.7)',
                borderColor: 'rgba(255, 0, 179, 1)',
                borderWidth: 1.5,
                pointRadius: 5
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Order Analysis'
                }
            }
        }
    });

    var chart3 = new Chart(sales, {
        type: 'line',
        data: {
            labels: [{% for data in sales_data %} '{{ data.created__month|get_month_name }}', {% endfor %}],
            datasets: [{
                label: 'Total Sales',
                data: [{% for data in total_sales_data %} {{ data|floatformat }}, {% endfor %}],
                backgroundColor: 'rgba(223, 0, 0, 0.5)',
                borderColor: 'rgba(255, 0, 0, 1)',
                borderWidth: 1.5,
                fill: false,
                pointRadius: 5
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Sales Analysis'
                }
            }
        }
    });

});

</script>
<div class="row g-4 mb-4">
    <div class="col-6 col-lg-3" onclick="window.location.href='/user/list/'">
        <div class="card border-secondary shadow-sm h-100">
            <div class="card-body p-3 p-lg-4">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-bold text-dark text-uppercase mb-1">
                            Users
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ total_users }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3" onclick="window.location.href='/user/list/'">
        <div class="card border-secondary shadow-sm h-100">
            <div class="card-body p-3 p-lg-4">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-bold text-dark text-uppercase mb-1">
                            Active Users
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ total_active_users }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3" onclick="window.location.href='/order/list/'">
        <div class="card border-secondary shadow-sm h-100">
            <div class="card-body p-3 p-lg-4">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-bold text-dark text-uppercase mb-1">
                            Orders
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ total_orders }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3" onclick="window.location.href='/order/list/'">
        <div class="card border-secondary shadow-sm h-100">
            <div class="card-body p-3 p-lg-4">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-bold text-dark text-uppercase mb-1">
                            Sales
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            ₹ {{ total_sales }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-indian-rupee-sign fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p class="text-center fw-bold">Order Analysis</p>
        <canvas id="orderChart"></canvas>
    </div>
    <div class="col-6">
        <p class="text-center fw-bold">Sales Analysis</p>
        <canvas id="salesChart"></canvas>
    </div>
</div>
<div class="col-6 align-items-center" style="margin: auto">
        <p class="text-center fw-bold">User Analysis</p>
        <canvas id="userChart"></canvas>
    </div>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
