{% autoescape off %}
Dear {{ username }},

We are delighted to welcome you to Foodmania, the ultimate online food destination for food lovers everywhere! Our website is designed to provide you with an exceptional culinary experience, featuring a diverse range of delicious cuisines from around the world.

Our team of experienced chefs has curated a menu that is sure to tantalize your taste buds and leave you wanting more. From savory starters to delectable desserts, we have something for everyone. Our ingredients are locally sourced and carefully selected to ensure the freshest and highest quality of meals.

Our user-friendly website makes it easy to browse through different cuisines and restaurants, so you can find exactly what you're craving. Our delivery service is reliable and efficient, ensuring that your food is delivered to you fresh and hot. We also offer a range of payment options, including cash on delivery, so you can choose what works best for you.

Whether you're looking for a romantic dinner for two or a family meal, Foodmania has got you covered. We are committed to providing the best customer service, and our team is always available to assist you with any questions or concerns you may have.

Thank you for choosing Foodmania. We are excited to have you as part of our family and look forward to serving you soon!

Best regards,

Harshil Sidapara
CEO and Founder of Foodmania

Foodmania Team.
{% endautoescape %}